<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327310913802-hokcfksjaa6fcd9de18knjbc042kbv1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327310913802-hokcfksjaa6fcd9de18knjbc042kbv1b</string>
	<key>API_KEY</key>
	<string>AIzaSyDcFLxGR0EV3iPtPaGk3Hx66LkZkST6Z_M</string>
	<key>GCM_SENDER_ID</key>
	<string>327310913802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.daichi.morishita.prelist</string>
	<key>PROJECT_ID</key>
	<string>prelist-b54d2</string>
	<key>STORAGE_BUCKET</key>
	<string>prelist-b54d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327310913802:ios:1816958d34c96529fe0af3</string>
	<key>DATABASE_URL</key>
	<string>https://prelist-b54d2.firebaseio.com</string>
</dict>
</plist>